body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.container-fluid {
  padding: 0 50px;
}

@media screen and (min-width: 1100px) {
  .container-fluid {
    padding: 0 100px;
  }
}

.navbar {
 background-color: #43203B; /*purple*/
 margin-bottom: 0;
 border: none;
 border-radius: 0;
}

#arabic{
  float: left;
  padding-top: 10px;
}

.content-navbar {
  padding: 30px;
  text-transform: uppercase;
}

.translation-button {
  color: white;
  border: 2px solid white;
  padding: 0 10px 10px 10px;
}

a.translation-button:hover{
  background-color: white;
  color: #43203B;
  text-decoration: none;
}

.content-navbar li{
  position: relative;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #CB9DC2; /*light purple*/
}

/*indexpage*/

.jumbotron {
  background-color: #43203B; /*purple*/
  color: white;
  margin-bottom: 100px;
  min-height: 40vh; 
}

.main-title {
  text-transform: uppercase;
  position: relative;
}

.main-title:before {
  width: 100px;
  height: 100px;
  content: " ";
  background-image: url(../img/womencode.svg);
  background-size: 100px 100px;
  left: 50px;
  top: -36px;
  position: absolute;
}


.italic-header {
  font-weight: 300;
  font-style: italic;
  color: #CB9DC2;
}

.vertical-center {
   display: flex;
   align-items: center;
}

blockquote {
  display: inline-block;
  border-left: 8px solid #06908F;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  width: 60%;
}
blockquote:before {
  color: #06908F; /*turkis*/
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  visibility: hidden;
  content: close-quote;
  font-size: 4em;
  line-height: 0;
  vertical-align: -0.4em;
}


blockquote h2 {
  display: inline;
  color: black;
  font-size: 2.2em;
  color: #544F54; /*grey*/
  font-style: italic;
}

.img-quote {
  display: inline;
  width: 20%;
  border-radius: 100%;
}

.quotes div:first-child .img-quote {
  margin-left: 15%;
}

.quotes div:nth-child(2) blockquote {
  margin-left: 15%;
  width: 64%;
}

.quotes div:first-child {
  margin-bottom: 50px;
}

.why {
  margin-top: 100px;
}

.why-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 100px 0;
}

.why h1 {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.why h1:before {
  content : "";
  position: absolute;
  left: 25%;
  bottom  : -25px;
  height  : 1px;
  width   : 50%; 
  border-bottom: 4px solid #06908F;
}

.why-box {
  width: 40%;
  border: solid 2px #544F54;
  padding: 10px;
  border-radius: 5%;
  margin-bottom: 50px;
}

@media screen and (min-width: 1100px) {
  .why-box {
    width: 20%;
    margin-bottom: 0;
  }
}

.why-box img {
  max-width: 100px;
  display: block;
  margin: 20px auto;
}


.links-pages {
  border: solid #43203B 3px;
  background-color: #43203B;
  color: white;
  padding: 10px 25px;
  margin-right: 30px;
  text-transform: uppercase;
}

a.links-pages:hover {
  text-decoration: none;
  color: #CB9DC2; 
}

footer {
  margin-top: 50px;
  height: 100px;
  background-color: #06908F;
  color: white;
  font-style: italic;
  padding-left: 50px;  
}

footer a {
  color: white;
  text-decoration: underline;
  font-weight: 300;
}

footer a:hover {
  color: white;
}

.img-tutorial{
  width: 100%;
  margin-bottom: 5%;
}

ol li{
  color:#06908F;
  font-weight: bold;
  font-size: 24px;
}

ol li span{
  color:#333;
  font-weight: normal;
  font-size: 20px;
}

#tutorial{
  margin-right: 15%;
  margin-left: 15%;
  font-size: 20px;
}


