{% extends "website/indexarabic.html" %}
{% block content %}

<div class="container-fluid">

      <div class="quotes">
        <div class="quote">
          <blockquote>
            <h2>لقد تعملت كيفية البرمجة .. وأنت تستطعين أيضا</h2>
          </blockquote>

          <img  class="img-quote" src="img/amna_face.jpg" alt="Jordan Woman">
        </div>    

        <div class="quote">
           <img  class="img-quote" src="img/hera_face.jpg" alt="Hera Image">
          <blockquote>
            <h2>لقد تعملت كيفية البرمجة .. وأنت تستطعين أيضا</h2>
          </blockquote>
        </div>    

      </div>


    <div class="why">

      <h1 class="text-center">لماذا يجب عليك تعلم البرمجة؟</h1>

        <div class="why-boxes">

          <div class="why-box">
            <img src="img/nocertificate.png" alt="">
            <p class="text-center">انت لا تحتاجين أية خبرة أو أية شهادات</p>
          </div>

          <div class="why-box">
            <img src="img/everywhere.png" alt="">
            <p class="text-center">أنت تستطعين التعلم من أي مكان </p>
          </div>

          <div class="why-box">
            <img src="img/indemand.png" alt="">
            <p class="text-center">البرمجة مطلوبة  لسوق العمل بشكل كبير</p>
          </div>

          <div class="why-box">
            <img src="img/computer.png" alt="">
            <p class="text-center">كل ماتحتاجينه هو كمبيوتر</p>
          </div>
        </div>

      </div>

      <div class="links-buttons-arabic">
        <a class="links-pages-arabic" href="howtostart.html">Learn to code now</a>
        <a class="links-pages-arabic" href="resources.html">More resources</a>
      </div>
  
    </div>

{% endblock %}