<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>علم البرمجة للاجئات</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:300italic,300,700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
  <body>

    <nav class="navbar navbar-default">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse content-navbar" id="bs-example-navbar-collapse-1">
          <a class="translation-button" id="arabic" href="index.html">English</a>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="indexarabic.html">الصفحة الرئيسية</a></li>
            <li><a href="howtostartarabic.html">Learn to code now</a></li>
            <li><a href="resources.html">مصادر</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="jumbotron vertical-center">
      <div class="container">
        <h1 class="text-center main-title-arabic">علم البرمجة للاجئات </h1>
      </div>
    </div>


    {% block content %}
    {% endblock %}
  
    <footer class="text-center vertical-center">
      <h4>This is a #empowerhack hackathon project, with lots of ❤ by @rklappleyard | @xoxomerel | @ninaregli </h4>
    </footer>    



  </body>
</html>