{% extends "indexenglish.html" %}
{% block content %}
  <div class="container-fluid">

        <div class="quotes">
          <div class="quote">
            <blockquote>
              <h2>I just learned to code - you can learn it too!</h2>
            </blockquote>
            <img  class="img-quote" src="img/amna_face.jpg" alt="Jordan Woman">
          </div>

          <div class="quote">
            <img  class="img-quote" src="img/hera_face.jpg" alt="Hera Image">
            <blockquote>
              <h2>Learning to code makes me feel empowered, creative, and confident.</h2>
            </blockquote>
          </div>

        </div>


        <div class="why">

          <h1 class="text-center">Why you should learn to code too:</h1>

          <div class="why-boxes">

            <div class="why-box">
              <img src="img/nocertificate.png" alt="">
              <p class="text-center">You don't need any prior knowledge or certificate</p>
            </div>

            <div class="why-box">
              <img src="img/everywhere.png" alt="">
              <p class="text-center">You can code from anywhere!</p>
            </div>

            <div class="why-box">
              <img src="img/indemand.png" alt="">
              <p class="text-center">Coding is in high demand</p>
            </div>

            <div class="why-box">
              <img src="img/computer.png" alt="">
              <p class="text-center">You only need a computer</p>
            </div>
          </div>

        </div>

        <div class="links-buttons">
          <a class="links-pages" href="howtostart.html">Learn to code now</a>
          <a class="links-pages" href="resources.html">More resources</a>
        </div>

      </div>

{% endblock %}